

<footer class="footer">
    <div class="footer-top">
        <a href="#">CHÍNH SÁCH BẢO MẬT</a>
        <span>|</span>
        <a href="#">QUY CHẾ HOẠT ĐỘNG</a>
        <span>|</span>
        <a href="#">CHÍNH SÁCH VẬN CHUYỂN</a>
        <span>|</span>
        <a href="#">CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</a>
    </div>

    <div class="footer-cert">
        <img src="http://online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoCCDV.png">
        <img src="http://online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoCCDV.png">
        <img src="https://cf.shopee.vn/file/vn-11134258-7ras8-mb6e1ufaxoldb9">
    </div>

    <div class="footer-info">
        <p>Công ty TNHH Shopee</p>
        <p>
            Địa chỉ: 828 Sư Vạn Hạnh, Phường Hòa Hưng, Quận 10, Hồ Chí Minh
            Địa chỉ của Trường Đại học Ngoại ngữ - Tin học Thành phố Hồ Chí Minh - Việt Nam
        </p>
        <p>
            Chăm sóc khách hàng: Gọi tổng đài Shopee (miễn phí) hoặc Trò chuyện với Shopee ngay trên Trung tâm trợ giúp
        </p>
        <p>Chịu Trách Nhiệm Quản Lý Nội Dung: Thái Hoàng Long</p>
        <p>
            Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch và Đầu tư TP Bình Phước cấp lần đầu ngày 10/02/2015
        </p>
        <p>© 2015 - Bản quyền thuộc về Công ty TNHH Shopee</p>
    </div>
</footer>




